<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="well">
    <form action="/makePage" method="GET">
        <input type= "text" id="msg" name="pageName" value="121211">
        <button id="btnSend">보내기</button>
    </form>
</div>


</body>
<script>
    // document.querySelector("#btnSend").addEventListener('click', function(event) {
    //     event.preventDefault();
    //     if(socket.readyState !== 1) return;
    //     let msg = document.querySelector("#msg").value;
    //     socket.send(msg);
    // });


</script>
<script>

</script>
</html>