<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<h1 th:text="${pageInfo.getId()}" id="id"></h1>>-->
<!--<h1 th:text="${pageInfo.getPageName()}" id="pageName"></h1>>-->
<textarea th:text="${pageInfo.getContent()}" id="contentBody">

</textarea>
</body>
<script th:inline="javascript">
  var socket = null;
  var id = [[${pageInfo.getId()}]];
  var name = [[${pageInfo.getPageName()}]]

  /** 소켓 연결을 위한 handshake 요청 수행 및 소켓 저장*/
  function connect() {
    // 소켓 열기
    var ws = new WebSocket("ws://localhost:8080/replyEcho?bno=1234")
    socket = ws

    // 커넥션이 연결되면 수행
    ws.onopen = function() {
      console.log('info: connection opened!')
    }


    // 메시지를 보낼때 마다 수행
    ws.onmessage = function(event) {
      console.log("Recieve Message:", event.data + '\n')
    }

    // 연결이 종료될 때 수행
    ws.onclose = function(event) {
      console.log('info: connection closed...')
      // setTimeout( function() { console.log('test'); }, 1000) // retry connection
    }

    // 에러 발생 시 수행
    ws.onerror = function(err) { console.log('Error: ', err)}
  }

  connect()
</script>
<script>
  const textarea = document.querySelector('#contentBody')

  textarea.addEventListener('input', function(event) {
    event.preventDefault();

    if(socket.readyState !== 1) return;
    let content = {
        id : id,
        pageName : name,
        content : textarea.value
    };
    socket.send(JSON.stringify(content));
  });
</script>
</html>